/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 100%;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}


/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
div.ReactTags__suggestions ul {
  margin: 0;
  padding: 0;
  background: white;
  align-items: center;
}
div.ReactTags__suggestions li {
  text-transform: capitalize;
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  clear: both;
  font-weight: 600;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
div.ReactTags__suggestions li mark {
  color: #16181b;
  text-decoration: none;
  background-color: transparent;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}


/* .navbar-brand{
    color: white;
    margin-right: 50%;
} */



 .containerB{
  width:30%;
  margin: auto;
  overflow: visible;
  position: absolute;
  right:-7%;

}


.navbar2{
  background-color: #333;
  color:#fff;
}

.navbar2 ul{
  padding:0;
  list-style:none;
}

.navbar2 li{
  display:inline;
}


.navbar2 a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
  }

  .navbar a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
  }
